.code-pad{
    display: flex;
    width: 100%;
    /* align-items: center; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ide{
    width: 70%;
    background-color: #011627;
    color: white;
    padding: 10px;
}

.dropdown-languages{
    display: flex;
}

.language-dropdown{
    background-color: #011627;
    color: white;
    border: none;
}

.run-code{
    background-color: #c792ea;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.run-code:hover{
    background-color: #c792ea;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.255);
    transform: scale(1.1);
}

  .code-copilot{
    width: 27%;
    height: 100%;
    padding-left: 10px;
  }

  .greet h3{
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
    background-size: 1800% 1800%;
    text-align: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;

  }

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }

  .copilot-bottom{
    position: absolute;
    bottom: 0;
    width: 26%;
    margin-bottom: 30px;
  }

  .copilot-search{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background: linear-gradient(124deg, #ff22005b, #e81d1d5b, #e8b71d5b, #e3e81d5b, #1de8405b, #1ddde85b, #2b1de85b, #dd00f35b, #dd00f35b);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
  }

  .copilot-input{
    padding: 8px;
    border: none;
    width: 90%;
    border-radius: 8px;
    background: transparent;
  }

  .copilot-run{
    background: transparent;
    border: none;
  }

  .chat-log{
    height: 80vh;
    overflow-y: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .ai-response{
    margin-left: 4px;
    width: 95%;
    display:flex;
    flex-wrap: wrap;
    align-self:flex-start;
    text-align: left;
    padding: 3px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    background: linear-gradient(124deg, #ff22002c, #e81d1d2c, #e8b71d2c, #e3e81d2c, #1de8402c, #1ddde82c, #2b1de82c, #dd00f32c, #dd00f32c);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
  }

  .prompt{
    align-self:flex-end;
    text-align: right;
    width: 60%;
    margin-left: 35%;
    background-color: #f6f6f6;
    display:flex;
    flex-wrap: wrap;
    padding: 3px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
