.code-pad{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.ide{
    width: 70%;
}

  .code-copilot{
    width: 25%;
    height: 100%;
    padding: 10px;
    color: white;
  }
