.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    padding: 10px;
}

.course:hover{
    transform: scale(1.02);
    box-shadow: 0 0 40px -10px rgba(0,0,0,.5), 0 0 25px -15px rgba(0,0,0,.4);
    background: linear-gradient(
    to right,
    #6b11cb37,#2574fc35
  );
}

.course{
    margin: 20px;
    width: 35vh;
    background-color:#ffffff;
    padding: 15px;
    box-shadow:0 0 40px -10px rgba(0,0,0,.3), 0 0 25px -15px rgba(0,0,0,.2);
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius:20px;
}

.course-img{
    width: 35vh;
    height: 30vh;
}

.coursepage{
    background-color:#ffffff;
    padding-bottom: 200px;
    padding-top: 100px;
}

.save-later{
    background-color:#f5f7fa;
    border: none;
    box-shadow: 0 0 40px -10px rgba(0,0,0,.5), 0 0 25px -15px rgba(0,0,0,.5);
    border-radius:20px;
    padding: 5px;
    background: linear-gradient(
    to right,
    #6b11cb66,#2574fc6a
  );
}

.save-later:hover{
    background: linear-gradient(
    to right,
    #6b11cb91,#2574fc96
  );
    transform: scale(1.05);

}

.star-rating {
    display: flex;
    justify-content: center;
}

.star-rating button{
    background: none;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    color: grey;
}

.star-rating button:hover {
    color: gold;
}
