.profile-pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px
}

.profile-cards{
    background-color: #ffffff;
    padding: 15px;
    width: 215px;
    /* height: 300px; */
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, .3), 0 0 25px -15px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    justify-content: space-evenly;
    margin: 20px;
}

.pcards-img{
    width: 200px;
    height: 200px;
}
