.topic-video{
    width: 50%;
    height: 25vh;
    border: none;
    border-radius: 8px;
    margin: 20px;
}

.topic{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
}

.topic-text{
    padding-right: 90px;
    width: 50%;
}

.recommednations-topic{
    display: flex;
    flex-direction: row;
}
